@import "tailwindcss";

:root {
  --background: #c7c8ca;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* css style for red underlined font */
.important_text {

  font-family: Arial, Helvetica, sans-serif;

  font-weight:lighter;

  text-decoration: underline;

  color: #c03000;
}
